*{
    background-color: #F2E3DB;
    line-height:2.7;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:none;
    font-size:18px;

}

h1 {
    
    font-weight: bolder;
    font-size: 50px;
    color: #263A29;
    text-decoration: underline wavy #E86A33 10px;
    text-underline-offset: 30px;
    
    
}

img{

    display:block;
    width:400px;
    margin-left:auto;
    margin-right:auto;
    border-radius:40%;
    border: 10px dotted #263A29;

}
.recipes ul{
        list-style-type:none; 
        text-transform:uppercase;
        font-weight:bold;

    }
.recipes li{
    display:inline-block;
    margin:15px;
}
a{
    color:#41644A;
    font-size:25px;
    background-color:#e99e7d;
    padding:15px;
    border:3px dotted #263A29;
}

/* additional styling for recipe pages-- */

.recipe-body{
    line-height: 1.5;
    margin-left:60px;
    margin-right:60px;
    font-size:15px;
    color:#41644A;
    
}

h2{
    text-decoration:underline solid #E86A33;
    font-size:25px;
}
.description p{
    text-align:left;
}

.ingredients ul{
    color:black;
    
}
.recipe-body ul li, .recipe-body ol li{
    list-style-position:inside;
    text-align:left;
    margin-left:20px;
}

.ingredients h4{
    text-align:left;
    margin-left:100px;
    text-decoration: underline solid #E86A33 3px;
    text-underline-offset:5px;

}


.return-button{
    background-color:#e99e7d;
}

u{
    text-decoration:underline solid black 2px;
}

.highlight {
    background-color:#a2f1b6;
    text-decoration:underline;
}