*{
    background-color: #F2E3DB;
    line-height:2.7;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:none;
    font-size:18px;

}

h1 {
    
    font-weight: bolder;
    font-size: 50px;
    color: #263A29;
    text-decoration: underline wavy #E86A33 10px;
    text-underline-offset: 30px;
    
}

img{

    width:30%;
    border-radius:40%;
    border: 10px dotted #41644A;

}
.recipes ul{
        list-style-type:none; 
        text-transform:uppercase;
        font-weight:bold;

    }
a{
    color:#41644A;
    font-size:25px;
    background-color:#e99e7d;
}

.recipe-body{
    line-height: 1.5;
    margin-left:60px;
    margin-right:60px;
    font-size:15px;
    color:#41644A;
    
}

h2{
    text-decoration:underline solid #E86A33;
    font-size:25px;
}
.description p{
    text-align:left;
}

.ingredients ul{
    color:black;
    
}
.recipe-body ul li, .recipe-body ol li{
    list-style-position:inside;
    text-align:left;
    margin-left:200px;
}

.ingredients h4{
    text-align:left;
    margin-left:280px;
    text-decoration: underline solid #E86A33 3px;
    text-underline-offset:5px;

}


.return-button{
    background-color:#e99e7d;
}

u{
    text-decoration:underline solid black 2px;
}